# Time Stamp, Time span, Period and period Index
## The rate at a particular point of time is time stamp...
## the total duration from start to end is time span

In [1]:
import pandas as pd

In [3]:
#To assign a year period, use Period function 
y=pd.Period('2019')
y

Period('2019', 'A-DEC')

In [5]:
#dir(y)

In [6]:
#Start time of the specified period
y.start_time

Timestamp('2019-01-01 00:00:00')

In [7]:
y.end_time

Timestamp('2019-12-31 23:59:59.999999999')

In [12]:
#Setting period as Monthly
m=pd.Period('2019/12',freq='M')
m

Period('2019-12', 'M')

In [13]:
m.start_time

Timestamp('2019-12-01 00:00:00')

In [14]:
m.end_time

Timestamp('2019-12-31 23:59:59.999999999')

In [15]:
#Adding 1 more month
m+1

Period('2020-01', 'M')

In [20]:
d=pd.Period('2019/2/28',freq='d')
d

Period('2019-02-28', 'D')

In [22]:
h=pd.Period('2019/8/9 11:30:00',freq='H')
h

Period('2019-08-09 11:00', 'H')

In [23]:
h.start_time

Timestamp('2019-08-09 11:00:00')

In [24]:
h.end_time

Timestamp('2019-08-09 11:59:59.999999999')

In [25]:
h-2

Period('2019-08-09 09:00', 'H')

In [26]:
#We can perform the same action using offset option
h+pd.offsets.Hour(1)

Period('2019-08-09 12:00', 'H')

In [27]:
#Quarterly results
q=pd.Period('2019Q1')
q

Period('2019Q1', 'Q-DEC')

In [28]:
q+1

Period('2019Q2', 'Q-DEC')

In [29]:
q.start_time

Timestamp('2019-01-01 00:00:00')

In [30]:
q.end_time

Timestamp('2019-03-31 23:59:59.999999999')

In [31]:
#If the fiscal year ends at January use the following function
w=pd.Period('2019Q1',freq='Q-JAN')
w

Period('2019Q1', 'Q-JAN')

In [33]:
w.start_time

Timestamp('2018-02-01 00:00:00')

In [34]:
w.end_time

Timestamp('2018-04-30 23:59:59.999999999')

In [35]:
#We can change the frequency as well.. from quarterly to monthly
w.asfreq('M',how="start")

Period('2018-02', 'M')

In [36]:
w.asfreq('M',how="end")

Period('2018-04', 'M')

In [37]:
#We can perform arithmatic operations between the quarters
q=pd.Period('2019Q1')
q

Period('2019Q1', 'Q-DEC')

In [41]:
q1=pd.Period('2020Q2')
q1

Period('2020Q2', 'Q-DEC')

In [42]:
q1-q

5

In [43]:
#To create a period index we use 
idx=pd.period_range('2015','2019',freq='Q')
idx

PeriodIndex(['2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1', '2016Q2',
             '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3', '2017Q4',
             '2018Q1', '2018Q2', '2018Q3', '2018Q4', '2019Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [44]:
#In few cases fiscal year ends differently. In those cases we use Q-JAN
idx1=pd.period_range('2015','2019',freq='Q-JAN')
idx1

PeriodIndex(['2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4', '2017Q1',
             '2017Q2', '2017Q3', '2017Q4', '2018Q1', '2018Q2', '2018Q3',
             '2018Q4', '2019Q1', '2019Q2', '2019Q3', '2019Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [45]:
idx1[0].start_time

Timestamp('2014-11-01 00:00:00')

In [46]:
idx1[0].end_time

Timestamp('2015-01-31 23:59:59.999999999')

In [62]:
#If we dont know the end date, we can use period function
idx2=pd.period_range('2015',periods=10,freq='Q')
idx2

PeriodIndex(['2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1', '2016Q2',
             '2016Q3', '2016Q4', '2017Q1', '2017Q2'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [63]:
#To create a random series with index as idx2, following command is used 
import numpy as np

In [64]:
ps=pd.Series(np.random.randn(len(idx2)),idx2)
ps

2015Q1    0.930728
2015Q2   -0.030582
2015Q3   -0.331646
2015Q4   -0.198842
2016Q1   -0.073569
2016Q2   -2.562198
2016Q3   -0.206031
2016Q4   -0.572093
2017Q1    1.112384
2017Q2    1.235843
Freq: Q-DEC, dtype: float64

In [65]:
ps.index

PeriodIndex(['2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1', '2016Q2',
             '2016Q3', '2016Q4', '2017Q1', '2017Q2'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [66]:
ps['2015']

2015Q1    0.930728
2015Q2   -0.030582
2015Q3   -0.331646
2015Q4   -0.198842
Freq: Q-DEC, dtype: float64

In [67]:
ps['2015':'2016']

2015Q1    0.930728
2015Q2   -0.030582
2015Q3   -0.331646
2015Q4   -0.198842
2016Q1   -0.073569
2016Q2   -2.562198
2016Q3   -0.206031
2016Q4   -0.572093
Freq: Q-DEC, dtype: float64

In [68]:
#To convert period index into date time index, we use
dti=ps.to_timestamp()
dti

2015-01-01    0.930728
2015-04-01   -0.030582
2015-07-01   -0.331646
2015-10-01   -0.198842
2016-01-01   -0.073569
2016-04-01   -2.562198
2016-07-01   -0.206031
2016-10-01   -0.572093
2017-01-01    1.112384
2017-04-01    1.235843
Freq: QS-OCT, dtype: float64

In [69]:
dti.index

DatetimeIndex(['2015-01-01', '2015-04-01', '2015-07-01', '2015-10-01',
               '2016-01-01', '2016-04-01', '2016-07-01', '2016-10-01',
               '2017-01-01', '2017-04-01'],
              dtype='datetime64[ns]', freq='QS-OCT')

In [70]:
#To revert the above command, we can use the following
dti.to_period()

2015Q1    0.930728
2015Q2   -0.030582
2015Q3   -0.331646
2015Q4   -0.198842
2016Q1   -0.073569
2016Q2   -2.562198
2016Q3   -0.206031
2016Q4   -0.572093
2017Q1    1.112384
2017Q2    1.235843
Freq: Q-DEC, dtype: float64

## Here we are reading the file and getting the transpose and adding 2 more columns

In [71]:
import pandas as pd

In [78]:
df=pd.read_csv("D:\Gandhi\Machine Learning\Period_exercise.csv")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [79]:
#setting the Line item as index
df.set_index("Line Item",inplace=True)
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [80]:
#Transposing the table
new_df=df.T
new_df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [84]:
new_df.index
#Here it is of object type..So we need to convert it as Period index..

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [85]:
new_df.index=pd.PeriodIndex(new_df.index,freq='Q')
new_df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

In [86]:
#Creating a new column and setting the value
new_df['start_date']=new_df.index.map(lambda x:x.start_time)
new_df

Line Item  Revenue  Expenses  Profit start_date
2017Q1      115904     86544   29360 2017-01-01
2017Q2      120854     89485   31369 2017-04-01
2017Q3      118179     87484   30695 2017-07-01
2017Q4      130936     97743   33193 2017-10-01
2018Q1      117542     87688   29854 2018-01-01

In [87]:
new_df['end date']=new_df.index.map(lambda y:y.end_time)
new_df

Line Item  Revenue  Expenses  Profit start_date   end date
2017Q1      115904     86544   29360 2017-01-01 2017-03-31
2017Q2      120854     89485   31369 2017-04-01 2017-06-30
2017Q3      118179     87484   30695 2017-07-01 2017-09-30
2017Q4      130936     97743   33193 2017-10-01 2017-12-31
2018Q1      117542     87688   29854 2018-01-01 2018-03-31