In [1]:
import pandas as pd

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\parentpoller.py:116: UserWarning: Parent poll failed.  If the frontend dies,
                the kernel may be left running.  Please let us know
                about your system (bitness, Python, etc.) at
                ipython-dev@scipy.org
  ipython-dev@scipy.org""")

In [3]:
#In this data frame we dont have date
df=pd.read_csv("D:\Gandhi\Machine Learning\holiday_date.csv")
df.head()

     Open    High     Low   Close    Volume
0  144.88  145.30  143.10  143.50  14277848
1  143.69  144.79  142.72  144.09  21569557
2  143.02  143.50  142.41  142.73  24128782
3  142.90  144.75  142.90  144.18  19201712
4  144.11  145.95  143.37  145.06  21090636

In [6]:
#Setting daterange with frequency as Business days
pd.date_range(start="7/1/2019",end="7/30/2019",freq='B')

DatetimeIndex(['2019-07-01', '2019-07-02', '2019-07-03', '2019-07-04',
               '2019-07-05', '2019-07-08', '2019-07-09', '2019-07-10',
               '2019-07-11', '2019-07-12', '2019-07-15', '2019-07-16',
               '2019-07-17', '2019-07-18', '2019-07-19', '2019-07-22',
               '2019-07-23', '2019-07-24', '2019-07-25', '2019-07-26',
               '2019-07-29', '2019-07-30'],
              dtype='datetime64[ns]', freq='B')

In [7]:
#If we want US calender and to custom the holidays on our own, we need to import the below 
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

In [8]:
#Customizing the calender as US calender
usb=CustomBusinessDay(calendar=USFederalHolidayCalendar())
usb

In [12]:
#Setting the frequeney as defined above
range=pd.date_range(start="7/1/2019",end="7/21/2019",freq=usb)

In [14]:
#Setitnf range
df.set_index(range,inplace=True)
df

              Open    High     Low   Close    Volume
2019-07-01  144.88  145.30  143.10  143.50  14277848
2019-07-02  143.69  144.79  142.72  144.09  21569557
2019-07-03  143.02  143.50  142.41  142.73  24128782
2019-07-05  142.90  144.75  142.90  144.18  19201712
2019-07-08  144.11  145.95  143.37  145.06  21090636
2019-07-09  144.73  145.85  144.38  145.53  19781836
2019-07-10  145.87  146.18  144.82  145.74  24884478
2019-07-11  145.50  148.49  145.44  147.77  25199373
2019-07-12  147.97  149.33  147.33  149.04  20132061
2019-07-15  148.82  150.90  148.57  149.56  23793456
2019-07-16  149.20  150.13  148.67  150.08  17868792
2019-07-17  150.48  151.42  149.95  151.02  20922969
2019-07-18  151.50  151.74  150.19  150.34  17243748
2019-07-19  149.99  150.44  148.88  150.27  26252630

In [20]:
#To create our own calender, we need to create a class 
from pandas.tseries.holiday import AbstractHolidayCalendar, Holiday
class mybirthday(AbstractHolidayCalendar):
    rules=[
        Holiday('manish birthday' , month=7, day=8 )
    ]
myc=CustomBusinessDay(calendar=mybirthday())
myc

In [21]:
#Setting the above frequency
pd.date_range(start="7/1/2019",end="7/30/2019",freq=myc)

DatetimeIndex(['2019-07-01', '2019-07-02', '2019-07-03', '2019-07-04',
               '2019-07-05', '2019-07-09', '2019-07-10', '2019-07-11',
               '2019-07-12', '2019-07-15', '2019-07-16', '2019-07-17',
               '2019-07-18', '2019-07-19', '2019-07-22', '2019-07-23',
               '2019-07-24', '2019-07-25', '2019-07-26', '2019-07-29',
               '2019-07-30'],
              dtype='datetime64[ns]', freq='C')

In [23]:
#IF the holiday comes on weekends, we can use nearest workday function
from pandas.tseries.holiday import AbstractHolidayCalendar,Holiday,nearest_workday
class myholiday(AbstractHolidayCalendar):
    rules=[
        Holiday('myholiday',month=7, day=13,observance=nearest_workday)
    ]
myhol=CustomBusinessDay(calendar=myholiday())
myhol

In [24]:
#Setting the frequency
pd.date_range(start="7/1/2019",end="7/30/2019",freq=myhol)

DatetimeIndex(['2019-07-01', '2019-07-02', '2019-07-03', '2019-07-04',
               '2019-07-05', '2019-07-08', '2019-07-09', '2019-07-10',
               '2019-07-11', '2019-07-15', '2019-07-16', '2019-07-17',
               '2019-07-18', '2019-07-19', '2019-07-22', '2019-07-23',
               '2019-07-24', '2019-07-25', '2019-07-26', '2019-07-29',
               '2019-07-30'],
              dtype='datetime64[ns]', freq='C')

In [25]:
#By default weekmask states the weekdays.In few countries week days varies.To change that we can specify the days using weekmask
b=CustomBusinessDay(weekmask='Sun Mon Tue Wed Thu')
b

In [26]:
pd.date_range(start="7/1/2019",end="7/30/2019",freq=b)

DatetimeIndex(['2019-07-01', '2019-07-02', '2019-07-03', '2019-07-04',
               '2019-07-07', '2019-07-08', '2019-07-09', '2019-07-10',
               '2019-07-11', '2019-07-14', '2019-07-15', '2019-07-16',
               '2019-07-17', '2019-07-18', '2019-07-21', '2019-07-22',
               '2019-07-23', '2019-07-24', '2019-07-25', '2019-07-28',
               '2019-07-29', '2019-07-30'],
              dtype='datetime64[ns]', freq='C')

In [28]:
#We can set a particular date as holiday as below
c=CustomBusinessDay(weekmask='Sun Mon Tue Wed Thu', holidays=["2019-07-02"])
pd.date_range(start="7/1/2019",end="7/30/2019",freq=c)

DatetimeIndex(['2019-07-01', '2019-07-03', '2019-07-04', '2019-07-07',
               '2019-07-08', '2019-07-09', '2019-07-10', '2019-07-11',
               '2019-07-14', '2019-07-15', '2019-07-16', '2019-07-17',
               '2019-07-18', '2019-07-21', '2019-07-22', '2019-07-23',
               '2019-07-24', '2019-07-25', '2019-07-28', '2019-07-29',
               '2019-07-30'],
              dtype='datetime64[ns]', freq='C')